[user]
	name = Kevin Hira
[core]
	editor = vim
	excludesfile = ~/.gitexcludes
	autocrlf = input
[pull]
	rebase = interactive
[push]
	default = simple
[alias]
	last = log -1 HEAD
	l = log --graph --format='%C(yellow)%H%C(reset)%C(auto)%d%C(reset)%nAuthor: %C(auto)%aN%C(reset) <%aE>%nCommit: %cN <%cE>%nDate:   %aD%n        %cD%nParent: %C(yellow)%p%C(reset)%n%w(0,4,4)%n%s%n%+b%+N'
	lu = l HEAD @{u}
	see = show --format='%C(yellow)%H%C(reset)%C(auto)%d%C(reset)%nAuthor: %C(auto)%an%C(reset) <%ae>%nCommit: %cn <%ce>%nDate:   %aD%n        %cD%nParent: %C(yellow)%p%C(reset)%n%w(0,4,4)%n%s%n%+b%+N'
	lag = l --exclude=refs/notes/commits --all
	addp = add -p
	diffs = diff --staged
	diffpull = diff @..@{upstream}
	diffpush = diff @{upstream}..@
	disable = update-index --assume-unchanged
	enable = update-index --no-assume-unchanged
	w = !"while :; do git lag; done"
	upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
	undo = reset --soft HEAD~
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pager]
	log = less -+FX -R
	diff = less -+FX -R
	show = less -+FX -R
	blame = less -+FX -R
[credential]
	helper = osxkeychain
[include]
	path = ~/.gitconfig-user
[log]
	mailmap = true
[init]
	defaultBranch = main
[rebase]
	autoSquash = true
