version = 4
shell_integration = true
final_space = true

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    template = ' {{ .UserName }}@{{ .HostName }} '
    foreground = 'white'
    powerline_symbol = ''
    background = 'darkGray'
    type = 'session'
    style = 'diamond'

  [[blocks.segments]]
    foreground = 'black'
    powerline_symbol = ''
    background = 'cyan'
    type = 'executiontime'
    style = 'powerline'

    [blocks.segments.options]
      always_enabled = false
      style = 'austin'
      threshold = 500

  [[blocks.segments]]
    template = ' ↵ {{ if ge .Code 128 }}{{ reason .Code }}{{ else }}{{ .String }}{{ end }} '
    foreground = 'black'
    powerline_symbol = ''
    background = 'red'
    type = 'status'
    style = 'powerline'
    background_templates = ['{{ if ge .Code 128 }}blue{{ end }}', '{{ if eq .Code 0 }}green{{ end }}']

    [blocks.segments.options]
      always_enabled = false

  [[blocks.segments]]
    template = '{{ if and (eq .Env.OMP_SHOW_SHLVL "1") (gt (int .Env.SHLVL) 1) }} {{ .Env.SHLVL }} {{ end }}'
    foreground = 'black'
    powerline_symbol = ''
    background = 'yellow'
    type = 'text'
    style = 'powerline'

  [[blocks.segments]]
    template = ' {{ .Path }} '
    foreground = 'black'
    powerline_symbol = ''
    background = 'white'
    type = 'path'
    style = 'powerline'

    [blocks.segments.options]
      style = 'full'

  [[blocks.segments]]
    template = ' {{ printf "%.8s" .Commit.Sha }} {{ .HEAD }}{{ if .Staging.Changed }} +{{ end }}{{ if .Working.Changed }} ●{{ end }}{{ if gt .Working.Untracked 0 }} ?{{ end }}{{ if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if gt .StashCount 0 }} ⍟{{ .StashCount }}{{ end }}{{ if .Detached }} (detached){{ end }}{{ if .Merge }} (merge){{ end }}{{ if .Rebase }} (rebase){{ end }}{{ if .CherryPick }} (cherry-pick){{ end }}{{ if .Revert }} (revert){{ end }}{{ " " }}'
    foreground = 'black'
    powerline_symbol = ''
    background = 'green'
    type = 'git'
    style = 'powerline'
    background_templates = ['{{ if .Staging.Changed }}yellow{{ end }}', '{{ if or (.Detached) (.Merge) (.Rebase) (.CherryPick) (.Revert) }}magenta{{ end }}', '{{ if and (eq .Working.Unmerged 0) (eq .Working.Deleted 0) (eq .Working.Added 0) (eq .Working.Modified 0) (ne .Working.Untracked 0) }}cyan{{ end }}', '{{ if .Working.Changed }}yellow{{ end }}']

    [blocks.segments.options]
      branch_icon = ''
      branch_identical_icon = ''
      commit_icon = '@'
      fetch_status = true

[[blocks]]
  type = 'rprompt'

  [[blocks.segments]]
    template = '{{ if or (.Env.AWSUME_PROFILE) (.Env.AWS_PROFILE) }} AWS {{ .Profile }}{{if .Region }}@{{ .Region }}{{ end }} {{ end }}'
    type = 'aws'
    style = 'plain'

  [[blocks.segments]]
    type = 'python'
    style = 'plain'
